
@model IEnumerable<ConcessionariaWeb.Model.Clientes>

@{
    ViewData["Title"] = "View";
}
<div class="table-container">

<h1>LISTA DE CLIENTES </h1>

<p>
    <a asp-action="Create">Incluir Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Alterar</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Excluir</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
